* {
  outline: 0px solid green;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container.catalog-filters {
  margin-bottom: 40px;
}

.container.catalog-filters .slogan {
  font-size: 45px;
  margin-bottom: 42px;
}

.container.catalog-filters .catalog-carousel .new-category {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.container.catalog-filters .catalog-carousel .owl-nav button {
  width: 25px;
  height: 25px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 50%;
  top: 10%;
}

.container.catalog-filters .catalog-carousel .owl-nav button::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 3px;
  left: 1px;
}

.container.catalog-filters .catalog-carousel .owl-nav button:first-child {
  left: -10%;
}

.container.catalog-filters .catalog-carousel .owl-nav button:last-child {
  right: -10%;
}

.container.catalog-filters .catalog-carousel .owl-nav button:last-child::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 0;
  margin-right: 3px;
}

.container.cotalog-main {
  margin-bottom: 85px;
}

.container.cotalog-main .cotalog-item {
  margin-bottom: 27px;
}

.container.cotalog-main .cotalog-item img {
  -webkit-box-shadow: 0 5px 10px 0px #80808040;
          box-shadow: 0 5px 10px 0px #80808040;
  margin-bottom: 10px;
}

.container.cotalog-main .cotalog-item p {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.container.cotalog-main .button {
  background-color: #ffffff;
  border: 1px solid grey;
}

.container.cotalog-main .button p {
  color: #636363;
  margin-top: 14px;
}

.container.inst-block {
  margin-bottom: 50px;
}

.container.inst-block title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 44px;
}

.container.inst-block .inst-carousel {
  margin-bottom: 33px;
}

.container.inst-block .inst-carousel img {
  margin-bottom: 15px;
}

.container.inst-block .inst-carousel p {
  font-weight: 500;
  text-transform: uppercase;
  color: #adafb3;
}

.container.inst-block .inst-carousel .owl-nav button {
  width: 27px;
  height: 27px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 50%;
  top: 40%;
}

.container.inst-block .inst-carousel .owl-nav button::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 3px;
  left: 1px;
}

.container.inst-block .inst-carousel .owl-nav button:first-child {
  left: -10%;
}

.container.inst-block .inst-carousel .owl-nav button:last-child {
  right: -10%;
}

.container.inst-block .inst-carousel .owl-nav button:last-child::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 0;
  margin-right: 3px;
}

.container.inst-block .button {
  background: #ff005d;
  padding-top: 14px;
}

@media (min-width: 768px) {
  .cotact-page .slogan {
    margin-bottom: 60px;
  }
}

.cotact-page .container {
  margin-bottom: 84px;
}

@media (min-width: 768px) {
  .cotact-page .container {
    margin-bottom: 112px;
  }
}

.cotact-page h1 {
  margin-bottom: 30px;
}

.contact-text {
  font-size: 16px;
  color: #adafb3;
  margin-bottom: 64px;
  line-height: 1.7rem;
}

.contact-info .contact-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact-info .contact-info-block svg, .contact-info .contact-info-block i {
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px 0 10px 1px;
  margin: 0 5px 31px;
}

.contact-info .contact-info-block p {
  text-align: center;
  margin: 0 0 63px 0;
}

@media (min-width: 768px) {
  .contact-info .contact-info-block p {
    margin-bottom: 108px;
  }
}

.form-block {
  margin-bottom: 64px;
}

.form-block input {
  width: 100%;
}

.form-block textarea {
  text-align: start;
  border-radius: 20px;
  width: 100%;
  height: 170px;
  padding: 14px 15px;
  margin-bottom: 18px;
}

iframe {
  border-radius: 40px;
}

.google-map {
  height: 310px;
}

.social-block .social {
  margin-bottom: 42px;
}

.about-us-page {
  text-align: center;
  color: #adafb3;
}

.about-us-page .container {
  margin-bottom: 100px;
}

.about-us-page .bradcrumb {
  text-align: left;
}

.about-us-page .slogan {
  margin-bottom: 35px;
}

.about-autor {
  margin-bottom: 56px;
}

.about-autor p {
  font-size: 18px;
  line-height: 25px;
}

.portrait {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/reviews-face.jpg);
  background-position: 40% 10%;
  position: relative;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .portrait {
    margin-bottom: 35px;
  }
}

.owl-carousel.advantages-carousel {
  margin-bottom: 70px;
}

.owl-carousel.advantages-carousel img {
  display: inline-block;
  text-align: center;
  width: 151px;
  height: 151px;
  margin-bottom: 28px;
}

.owl-carousel.advantages-carousel h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 56px;
  color: #636363;
}

.owl-carousel.advantages-carousel p {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}

.owl-carousel.advantages-carousel .button {
  background-color: #fff;
  border: 1px solid #abafb3;
  width: 200px;
}

.owl-carousel.advantages-carousel .button p {
  margin-top: 7px;
  color: #adafb3;
}

.jam-card {
  background-color: #cc9898;
  border-radius: 40px;
  padding: 35px 35px 355px 35px;
  overflow: hidden;
  -webkit-box-shadow: 0px 7px 10px 2px #80808040;
          box-shadow: 0px 7px 10px 2px #80808040;
}

.jam-card p {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  line-height: 27px;
}

.jam-card .jam {
  background: url(../img/jam.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: -20%;
  min-width: 130%;
  min-height: 30%;
}

@media (min-width: 374px) {
  .jam-card .jam {
    height: 41%;
  }
}

@media (min-width: 425px) {
  .jam-card .jam {
    height: 51%;
  }
}

@media (min-width: 768px) {
  .jam-card {
    padding: 67px;
  }
  .jam-card .jam {
    top: 0;
    bottom: 0;
    right: -40%;
    min-width: 80%;
    min-height: 100%;
  }
}

.faq-page .container {
  margin-bottom: 60px;
}

.faq-page .slogan {
  margin-bottom: 41px;
}

.faq-page .faq-text {
  text-align: center;
  margin-bottom: 42px;
}

.faq-page .faq-block {
  margin-bottom: 45px;
}

@media (min-width: 768) {
  .faq-page .faq-block {
    margin-bottom: 100px;
  }
}

.faq-page .faq-block .faq-item {
  -webkit-box-shadow: 0 7px 15px 0 #80808040;
          box-shadow: 0 7px 15px 0 #80808040;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.faq-page .faq-block .faq-item .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.faq-page .faq-block .faq-item .question p, .faq-page .faq-block .faq-item .question button {
  display: inline-block;
}

.faq-page .faq-block .faq-item .question p {
  width: 80%;
}

.faq-page .faq-block .faq-item .question button {
  cursor: pointer;
  width: 27px;
  height: 24px;
  background: transparent;
  border: 1px solid #cc9898;
  border-radius: 50%;
}

.faq-page .faq-block .faq-item .question .faq-open::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid transparent;
  border-right: 2px solid #cc9898;
  border-bottom: 2px solid #cc9898;
  border-left: 1px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 7px;
}

.faq-page .faq-block .faq-item .question .faq-close::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid transparent;
  border-right: 2px solid #cc9898;
  border-bottom: 2px solid #cc9898;
  border-left: 1px solid transparent;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-bottom: 2px;
  margin-left: 1px;
}

.faq-page .faq-block .faq-item .answer {
  display: none;
  margin-top: 60px;
  font-size: 16px;
  color: #adafb3;
}

@font-face {
  font-family: 'nether';
  src: url("../fonts/nether-new/nether.eot");
  src: local("Nether"), url("../fonts/nether-new/nether.woff") format("woff"), url("../fonts/nether-new/nether.ttf") format("truetype"), url("../fonts/nether-new/nether.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: local("Circe"), local("../fonts/Circe/Circe-Regular"), url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Circe", sans-serif;
  color: #636363;
  background: #ffffff;
  padding: 19px 15px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
}

a:hover {
  text-decoration: none;
  color: #636363;
}

a:focus, button:focus {
  border: 0;
  outline: 0;
}

li a {
  text-transform: uppercase;
  font-weight: 300;
}

.hidden {
  overflow: hidden;
}

.button {
  width: 289px;
  height: 40px;
  border-radius: 100px;
  background: #4771e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 400;
}

.button p {
  color: #ffffff;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  color: #adafb3;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 50px;
  }
}

.slogan {
  font-family: "Nether";
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  color: #090b0c;
  font-weight: 500;
}

.container {
  margin-bottom: 50px;
}

i, svg {
  color: black;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px 0 0 1px;
  margin: 0 5px;
}

.social a svg {
  font-size: 21px;
}

div[class|="contact"] {
  text-transform: none;
  font-size: 16px;
}

div[class|="contact"] p {
  display: inline-block;
  margin-left: 15px;
}

div[class|="contact"] p, div[class|="contact"] svg, div[class|="contact"] i {
  display: inline-block;
}

.bradcrumb {
  margin-bottom: 32px;
  color: #adafb3;
}

.bradcrumb .breadcrumb-item {
  display: inline-block;
  text-transform: uppercase;
}

.bradcrumb .breadcrumb-item a {
  text-decoration: underline;
}

form input, form textarea {
  margin-bottom: 18px;
  border-radius: 20px;
  border: 1px solid gray;
  height: 40px;
  padding-left: 19px;
  opacity: 0.6;
}

form input[type="submit"] {
  background: #ff005d;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 0;
  padding: 0;
}

.owl-carousel .owl-dots {
  margin-top: 17px;
  text-align: center;
}

.owl-carousel .owl-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #adafb3;
  margin-right: 7px;
}

.owl-carousel .owl-dots .active {
  background-color: #636363;
}

.show + .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000ad;
  z-index: 49;
  left: 0;
  top: 0;
}

.navbar {
  display: block;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  text-align: center;
  padding: 100px 40px 50px;
  z-index: 50;
  border-radius: 0 0 0 10px;
  overflow: scroll;
  height: 100vh;
}

.navbar ul {
  margin-bottom: 115px;
  font-size: 18px;
}

.navbar ul li {
  margin-bottom: 35px;
}

.navbar .contact-top {
  margin-bottom: 55px;
}

.navbar .contact-top div {
  padding-bottom: 20px;
}

header .logo {
  margin-right: 15px;
}

header .nav-right-block {
  margin-top: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-right-block a {
  padding: 0 5px;
}

header .nav-right-block a:first-child {
  border-right: 1px solid gray;
}

header .nav-right-block .disabled {
  color: #adafb3;
  pointer-events: none;
  cursor: default;
}

header .nav-right-block button {
  position: relative;
  z-index: 100;
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-left: 35px;
  padding: 0;
  font-size: 30px;
  bottom: 3px;
}

header .nav-right-block button .open-burger {
  display: block;
}

header .nav-right-block button .close-burger {
  width: 21px;
  display: none;
}

header .nav-right-block .basket {
  width: 30px;
  margin-left: 20px;
}

header .nav-right-block .basket svg {
  font-size: 20px;
  margin-bottom: 5px;
}

header .navbar-top {
  margin-top: 25px;
}

header .navbar-top li {
  display: inline-block;
  margin: 0 15px;
}

.wrapper .baner-carousel.mobile-block {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .baner-carousel.mobile-block .first-carousel {
  position: relative;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] {
  margin-top: 44px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .hidden {
  display: block;
  height: 233px;
  margin-bottom: 19px;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .hidden p {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 20px;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .button {
  display: block;
  margin: 0 auto;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .button p {
  padding-top: 14px;
  font-size: 16px;
}

.baner-first::before, .tablet-baner-one::before {
  content: "";
  background-image: url(../img/new.png);
  background-size: contain;
  position: absolute;
  left: 10px;
  top: -35px;
  width: 69px;
  height: 69px;
}

.wrapper .tablet-baner {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.wrapper .tablet-baner div[class|="tablet-baner"] {
  background-size: 100% 100%;
  height: 320px;
}

@media (min-width: 992px) {
  .wrapper .tablet-baner div[class|="tablet-baner"] {
    height: 470px;
  }
}

.wrapper .tablet-baner .tablet-baner-one {
  background: url(../img/poster-1.png);
}

.wrapper .tablet-baner .tablet-baner-two {
  background: url(../img/poster-2.png);
}

.wrapper .tablet-baner div[class|="tablet-baner"] p {
  position: absolute;
}

.wrapper .tablet-baner div[class|="tablet-baner"] .button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 200px;
  height: 40px;
}

.wrapper .tablet-baner div[class|="tablet-baner"] .button p {
  position: static;
  margin: 15px 0;
}

.wrapper .tablet-baner .tablet-baner-one p {
  left: 10px;
  top: 30px;
}

.wrapper .tablet-baner .tablet-baner-two p {
  right: 32px;
  bottom: 123px;
}

.baner {
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .baner .slogan {
    font-size: 40px;
  }
}

.print-block {
  text-align: center;
  position: relative;
}

.print-block img {
  margin-bottom: 19pxs;
}

.print-block p {
  font-size: 16px;
  color: #adafb3;
  margin-bottom: 28px;
  text-align: left;
}

.print-block .button {
  background: #ff005d;
  color: #ffffff;
  padding: 14px;
}

@media (max-width: 798) {
  .print-block .button {
    margin: 0 15px;
  }
}

.print-block .button p {
  color: #ffffff;
  text-align: center;
}

.catalog-block .slogan {
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}

.catalog-block .catalog-card {
  position: relative;
  padding: 0 61px;
  font-weight: 500;
  text-transform: uppercase;
  color: #636363;
}

.catalog-block .catalog-card img {
  margin-bottom: 18px;
  -webkit-box-shadow: 0 4px 11px 0 #80808040;
          box-shadow: 0 4px 11px 0 #80808040;
}

.catalog-block .catalog-card p {
  line-height: 1.5rem;
}

.catalog-block .catalog-card:before {
  content: "";
  background-size: contain;
  position: absolute;
  left: 30px;
  top: 0;
  width: 69px;
  height: 69px;
}

.catalog-block .button p {
  margin-top: 14px;
}

.catalog-block .catalog-card.card-1:before {
  background-image: url(../img/top.png);
}

.catalog-block .catalog-card.card-2:before {
  background-image: none;
}

.catalog-block .second-carousel {
  margin-bottom: 26px;
}

.catalog-block .second-carousel .owl-nav button {
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  background: #ebebeb;
}

.catalog-block .second-carousel .owl-nav button::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 3px solid #888888;
  border-bottom: 3px solid #888888;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 10px;
  top: 10px;
}

.catalog-block .second-carousel .owl-nav .owl-prev {
  left: 15px;
  top: 40%;
}

.catalog-block .second-carousel .owl-nav .owl-prev::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.catalog-block .second-carousel .owl-nav .owl-next {
  right: 15px;
  top: 40%;
}

.catalog-block .second-carousel .owl-nav .owl-next::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.tablet-cotalog {
  padding: 0;
}

.tablet-cotalog img {
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.tablet-cotalog:before {
  left: 10px;
  top: -30px;
}

.business-card-block img {
  margin-bottom: 32px;
}

.business-card-block p {
  margin-bottom: 33px;
  color: #adafb3;
}

.business-card-block .button {
  padding-top: 14px;
  background-color: #ff005d;
}

@media (min-width: 768px) {
  .business-card-block .button {
    width: 200px;
    margin: 0 15px;
  }
}

.business-card-block .button p {
  color: #ffffff;
}

.form-block .title {
  font-size: 18px;
}

.form-block img {
  margin-bottom: 32px;
}

.reviews-block .title {
  text-align: center;
}

.reviews-block .portrait {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(../img/reviews-face.jpg);
  background-position: 40% 10%;
  position: relative;
  margin-bottom: 15px;
}

.reviews-block .portrait:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 17px;
  height: 17px;
  background-image: url(../img/twitter-color.png);
}

.reviews-block .reviews-data {
  display: inline-block;
  text-align: left;
  line-height: 1.4rem;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.reviews-block .reviews-data time {
  font-size: 14px;
  font-weight: 300;
}

.reviews-block .review {
  margin: 10px 10px;
  padding: 40px;
  border-radius: 40px 40px;
  -webkit-box-shadow: 0 0 20px 0 #80808040;
          box-shadow: 0 0 20px 0 #80808040;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-block .review p {
  margin-bottom: 25px;
}

.reviews-block .review .stars {
  display: inline-block;
  width: 100%;
  height: 20px;
  background-image: url(../img/5-stars.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.reviews-block .third-carousel .owl-nav button {
  width: 27px;
  height: 27px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 50%;
  top: 40%;
}

.reviews-block .third-carousel .owl-nav button::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 3px;
  left: 1px;
}

.reviews-block .third-carousel .owl-nav button:first-child {
  left: -10%;
}

.reviews-block .third-carousel .owl-nav button:last-child {
  right: -10%;
}

.reviews-block .third-carousel .owl-nav button:last-child::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 0;
  margin-right: 3px;
}

footer .container {
  margin-bottom: 0;
}

footer .slogan {
  text-transform: none;
  font-size: 30px;
  margin-bottom: 30px;
}

footer .links-block {
  text-transform: uppercase;
  text-align: center;
}

footer .links-block a, footer .links-block p {
  display: block;
  margin-bottom: 25px;
}

footer .links-block p {
  color: #adafb3;
}

footer .links-block .help {
  margin-bottom: 20px;
}

footer .links-block .contact-bottom {
  margin-bottom: 25px;
}

footer .links-block .contact-bottom p {
  display: inline-block;
  margin-bottom: 21px;
}

footer .links-block .social a {
  display: inline-block;
}

@media (min-width: 767.98px) {
  .container {
    margin-bottom: 150px;
  }
  header {
    margin-bottom: 40px;
  }
  header .container {
    margin-bottom: 45px;
  }
  .wrapper .slogan p {
    margin: 46px 0;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet-baner .tablet-baner-one::before {
    width: 50px;
    height: 50px;
  }
  .wrapper .tablet-baner .tablet-baner-two {
    text-align: end;
  }
  .wrapper .tablet-baner .tablet-baner-two ::before {
    width: 45px;
    height: 45px;
  }
  .wrapper .print-block {
    text-align: left;
  }
  .wrapper .print-block .button {
    width: 200px;
  }
  .wrapper .catalog-block .catalog-way {
    padding-top: 4rem;
  }
  .wrapper .catalog-block .catalog-way .slogan {
    padding-bottom: 2rem;
  }
  .wrapper .catalog-block .catalog-way .button {
    width: 200px;
  }
  .wrapper .catalog-block .catalog-way .button p {
    padding-top: 14px;
  }
  .wrapper .catalog-block .catalog-card {
    text-align: center;
    padding: 0;
  }
  .wrapper .catalog-block .catalog-card img {
    margin-bottom: 16px;
  }
  .wrapper .catalog-block .catalog-card p {
    line-height: 1.5rem;
    text-align: left;
  }
  footer .links-block p, footer .links-block a {
    margin-bottom: 21px;
  }
  footer .slogan {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  footer .menu {
    text-align: left;
  }
  footer .contact-bottom {
    text-align: left;
    font-size: 13px;
  }
  footer .contact-bottom.right {
    text-align: right;
  }
  footer .tablet {
    text-transform: uppercase;
    color: #adafb3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 991.98px) {
  header {
    margin-bottom: 45px;
  }
  .wrapper .slogan p {
    font-size: 55px;
  }
  .wrapper .tablet-baner {
    font-size: 24px;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"] .button p {
    margin: 14px 0;
    font-size: 16px;
  }
  .wrapper .tablet-baner .tablet-baner-one p {
    left: 10px;
    top: 40px;
  }
  .wrapper .tablet-baner .tablet-baner-two p {
    right: 45px;
    bottom: 165px;
  }
  .wrapper .tablet-baner .tablet-baner-one::before {
    width: 69px;
    height: 69px;
  }
  .wrapper .tablet-baner .tablet-baner-two::before {
    width: 64px;
    height: 64px;
  }
  .wrapper .print-block .content {
    margin: 4rem 0 0;
  }
  .wrapper .print-block .button {
    position: absolute;
    left: 3rem;
    bottom: 1rem;
  }
  .wrapper .catalog-block .catalog-way {
    padding-top: 7rem;
  }
  .wrapper .catalog-block .catalog-way .slogan {
    font-size: 54px;
  }
  .wrapper .form-block .title {
    font-size: 24px;
  }
  footer .slogan {
    font-size: 3.5rem;
  }
  footer .contact-bottom {
    font-size: 16px;
  }
}

@media (min-width: 1199.98px) {
  .wrapper .tablet-baner .tablet-baner-one p {
    left: 10px;
    top: 45px;
  }
  .wrapper .tablet-baner .tablet-baner-two p {
    right: 55px;
    bottom: 200px;
  }
  .wrapper .print-block .content {
    margin: 5rem 0 0;
  }
}
